h1{ text-align: center; }
h2{ text-align: center; }
body{ background-color:white; color:black; font-family:Quattrocento Sans, Verdana; margin:0; }

.aboutUsDivOne{ text-align:center; font-size:110%; width:50%; margin-right:50%; }
.aboutUsDivTwo{ text-align:center; font-size:110%; width:50%; margin-left:50%; }
.aboutUsDiv li{ width:50%; text-align:center; }
.aboutUsImageDivOne{ width:50%; float: right; text-align:center; }
.aboutUsImageDivTwo{ width:50%; float:left; text-align:center; }
.banner{ height:100px; }
.headerBanner{ background-color:#ece8e7; position:fixed; left:0; right:0; top:0; text-align:center; font-size: 130%; background-repeat: no-repeat; background-size: 100%; }
.beforeInfoDiv{ display:block; font-size:140%; font-weight:bold; text-align:center; margin-right:3%; }
.infoDiv{ color:#007fff; display:inline-block;  }
.infoContainer p{ width:50%; }